.dialog {
    width: 95%;
    height: 85%;
    margin: auto;
    position: absolute;
    display: block;
    border-width: 0px;
    border-color: #00ff90;
}

.item {
    width: 100px;
    height: 50px;
    position: absolute;
    display: block;
    border-width: 8px;
    background-color: #ff4488;
    border-color: rgba(5, 100, 163, 0.8);
    border-radius: 10px;
}

body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    border-width: 0px;
}

.button {
    width: 100px;
    height: 30px;
    margin: 5px;
    padding: 5px;
    border-width: 1px;
}
