.dialog {
    width: 90%;
    height: 85%;
    margin: auto;
    position: absolute;
    display: block;
    border-width: 2px;
    border-color: #333;
    background-color: #888;
    border-radius: 10px;
    box-sizing: border-box;
}

.item {
    width: 100%;
    height: 50px;
    position: static;
    display: block;
    border-width: 8px;
    background-color: #ff4488;
    border-color: rgba(5, 100, 163, 0.8);
    border-style: solid;
    border-radius: 10px;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    background-color: #000;
}

.button {
    width: 100px;
    height: 30px;
    margin: 5px;
    padding: 5px;
    border-width: 1px;
}
